footer
   .container-fluid.menu-ftr
    .container
      .row
        .col-sm-12.text-center
          ul.list-unstyled.list-inline
            li
              a.active(href='index.html') Home
            li
              a(href='') What We Do
            li
              a(href='') How It Works
            li
              a(href='')  Restaurants
            li
              a(href='') Contact
            li
              a(href='') FAQ

  .container-fluid.ftr-section
    .container
      .row
        .col-sm-4
          h5
            b CONTACT US
          p 45-157 ST JOHN STREET
          p
          p LONDON, ENGLAND
          p EC1V 4PW
          br
          p info@dliteme.com
        .col-sm-4
          h5
            b LATEST TWEETS
          p
            i
              span.pink-color @stef_benson
              |  Should you have additional queries, please email us your order ID.
          p
          p Posted on 13 Jun
          p
            i
              | Refunds are processed automatically! Please read our ToS re payments and refunds!
          p
          p Posted on 11 Jun
        .col-sm-4.area-ftr
          h5
            b AREA COVERED
          p
            a(href='#')
              | London  &nbsp;
              span.pink-color  We&apos;re hiring!
          p
            a(href='') Birmingham
          p
            a(href='')
              | Manchester  &nbsp;
              span.pink-color  We&apos;re hiring!
          p
            a(href='') Portsmouth
          p
            a(href='') Leicester
  .container-fluid.social-ftr
    .container
      .row
        .col-sm-6
          a.btn.btn-default(href='#') We&apos;re Hiring!
        .col-sm-6.text-right
          ul.list-unstyled.list-inline.text-right
            li
              a(href='http://www.facebook.com')
                i.sk-facebook-round.fa-2x
            li
              a(href='http://www.twitter.com')
                i.sk-twitter-round.fa-2x
            li
              a(href='http://www.googleplus.com')
                i.sk-google-plus-round.fa-2x

  .container-fluid.footer-info(style='background-color: #2e2e2e; font-size: 0.8em; color:#fff; padding-top: 25px;padding-bottom: 15px;')
    .container
      .row
        .col-sm-8
          p(style='color: #E46962 !important') &copy; 2015 Dliteme.com
        .col-sm-4
          p
            a(href='') Home
            |  |
            a(href='') Support
            |  |
            a(href='') Terms & Conditions
            |  |

            a(href='') Faqs
            |  |

            a(href='') Contact us
  // FOOTER END
