.banner-common.banner-common-menu-page
  .container
    .row
      .col-sm-12
        .text-center.base-box
          h1 Select your menus below.
          p Please select your menus, sides, choice of drinks as well as any dietary requirements.

div(style='background-color: #e8ebed;padding-bottom: 3%;')
  .container
    .row
      .col-sm-12
        .base-container

          a.btn.btn-theme Checkout

