.pb-25
	.col-md-8.col-md-offset-2
		.mt-25 Your order is sending to our driver
		p
			a(href="javascript:;") Your Order ID: 
			strong 6678
			br
			a(href="javascript:;") Your Transaction ID: 
			strong Cash_1231282138
	.clearfix
	.alert.alert-info.col-mxs.text-center.col-xs-10.col-xs-offset-1.mt-25
		.row
			.col-md-12
				em Please wait for confirmation to ensure order acceptance!
				br
				strong IMPORTANT: Direct response can take up 90 seconds
				br
				.mt-25
					i.fa.fa-spin.fa-spinner.f-35
	.clearfix
